.listItem {
  display: flex;
  align-items: center;
  height: 3rem;
  padding: 0 0.4rem;
  background: var(--yellow);
  transition: color var(--transition), background var(--transition);
  border-bottom: 1px solid black;
}

.listItem:last-of-type {
  border-bottom: none;
}

.listItem:hover {
  background: var(--red);
  color: var(--white);
}

.listItem__highlight {
  color: var(--orange);
}
